parameters:
    level: 10
    paths:
        - src/
        - tests/
    excludePaths:
        analyse:
            - tests/bootstrap.php

services:
    -
        class: App\Shared\Infrastructure\PHPStan\Rule\FinalReadonlyCommandRule
        tags:
          - phpstan.rules.rule
    -
        class: App\Shared\Infrastructure\PHPStan\Rule\FinalReadonlyCommandHandlerRule
        tags:
          - phpstan.rules.rule
