SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

* * * * * cd /app && APP_ENV=prod APP_DEBUG=0 /usr/local/bin/php bin/console app:email-breach-checks:process > /dev/null 2>&1
* * * * * cd /app && APP_ENV=prod APP_DEBUG=0 /usr/local/bin/php bin/console app:voucher-reminders:process > /dev/null 2>&1
* * * * * cd /app && APP_ENV=prod APP_DEBUG=0 /usr/local/bin/php bin/console app:vouchers:send-scheduled > /dev/null 2>&1
